#error-container{
    width: 100%;
    display: none;
    justify-content: center;
    padding: 200px 0;
}

.notifications-container {
    width: 320px;
    height: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-shrink-0 {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.error-alert {
    border-radius: 0.375rem;
    padding: 1rem;
    background-color: var(--w1);
    border: 1px solid var(--o1);
}

.error-svg {
    color: var(--o1);
    width: 1.25rem;
    height: 1.25rem;
}

.error-prompt-heading {
    color: var(--o1);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.error-prompt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1.25rem;
}

.error-prompt-wrap {
    margin-top: 0.5rem;
    color: #B91C1C;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.error-prompt-list {
    padding-left: 1.25rem;
    margin-top: 0.25rem;
    list-style-type: disc;
}