#pagination-container *{
    font-size: 20px;
    color: var(--o1);
    font-weight: 400;
}

#pagination-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#pagination-container a{
    padding: 5px;
    border-radius: 5px;
}
#pagination-container a.active{
    background: var(--o1);
    color: var(--w1);
    font-weight: 700;
}