#list-post-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 60px;
    gap: 40px;
}

.header-post-container *{
    font-weight: 400;
}
.header-post-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-post-container > p{
    max-width: 50%;
}

.sort-container{
    width: 50%;
    display: flex;
    justify-content: end;
    gap: 30px;
}
.sort-container > div{
    display: flex;
    gap: 10px;
    align-items: center;
}
.sort-container select{
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 18px;
    border: 1px solid rgba(0,0,0,.5);
    outline: none;
    cursor: pointer;
}

#card-post-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin: 20px 0;
}

.card-post{
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
    transition: 0.3s;
}
.card-post:hover{
    transform: scale(1.05);
}

.card-image{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 5px rgba(0,0,0,.5);
}
.card-image img{
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
}

.card-detail{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-detail p{
    color: var(--w2);
    font-size: 12px;
    font-weight: 700;
}
.card-detail a{
    color: var(--b1);
    max-width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-weight: 700;
}