@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

:root {
    --o1: rgb(255, 102, 0);
    --w1: rgb(255, 255, 255);
    --w2: rgb(170, 170, 170);
    --b1: rgb(0, 0, 0);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: 'Roboto', 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

nav * {
    font-size: 20px;
    color: var(--w1);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 15px 60px;
    background: var(--o1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 99;
}

nav a{
    height: 100%;
    max-height: 100%;
}

nav img {
    max-height: 100%;
}

.nav-list {
    display: flex;
    gap: 30px;
}

.nav-item {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.nav-item.active::after {
    display: block;
    content: '';
    border-bottom: solid 3px var(--w1);
    transform: scaleX(1);
    transition: transform 250ms ease-out;
}

.nav-item::after {
    display: block;
    content: '';
    border-bottom: solid 3px var(--w1);
    transform: scaleX(0);
    transition: transform 250ms ease-out;
}

.nav-item:hover::after {
    transform: scaleX(1);
}

.banner-container {
    position: relative;
    height: calc(70vh - 80px);
    width: 100%;
    overflow: hidden;
    margin-top: 80px;
    background-color: rgba(255, 102, 0, .3);
}

.banner-container img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}

.banner-container .overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.overlay-triangle {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 120px solid #fff;
    overflow: hidden;
}

.overlay-text * {
    color: var(--w1);
    font-weight: 400;
    font-family: 'Roboto';
}

.overlay-text h1 {
    font-size: 48px;
}